* {
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #31b4578f;
  margin: 5px;
  border-radius: 5px;
}

main {
  height: 30vh;
  width: 100%;
  background-color: #cfcf5f;
  margin: 5px;
  border-radius: 5px
}

#container1 {
  height: 10vh;
  width: 100%;
  background-color: #3f51b5;
  margin: 5px;
  border-radius: 5px
}


#container2 {
  width: 100%;
  margin: 5px;
  display: flex;
  /* background-color: #2196f3; */
}

.left {
  height: 40vh;
  width: 20%;
  margin: 5px;
  border-radius: 5px;
  background-color: #cfcf5f;
}

.middle {
  height: 40vh;
  width: 60%;
  margin: 5px;
  border-radius: 5px;
  background-color: #3f51b5;
}

.right {
  height: 40vh;
  width: 20%;
  margin: 5px;
  border-radius: 5px;
  background-color: #cfcf5f;
}

footer {
  height: 10vh;
  width: 100%;
  background-color: #42a62dc2;
  margin: 5px;
  border-radius: 5px;
}
